@model ContactModel;
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<Contact> contact;
@inject IStringLocalizer<Alert> alert;

@{
    ViewBag.Title = contact["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);

    var title = @Html.Raw(contact["1_title_rectangle"]);
    var subtitle = Html.Raw(contact["2.1_introduction"]);

    var nameLabel1 = @Html.Raw(contact["4.1_rightside_container"]);
    var nameLabel2 = @Html.Raw(contact["4.4_rightside_container"]);
    var messageLabel1 = @Html.Raw(contact["4.2_rightside_container"]);
    var messageLabel2 = @Html.Raw(contact["4.4_rightside_container"]);
    var emailLabel1 = @Html.Raw(contact["4.4_rightside_container"]);

    var buttonContent = @Html.Raw(contact["4.3_rightside_container"]);

    var lengthOfLeftside = 4;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="text/javascript" src="~/js/contact.js" defer></script>
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">@title</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="subtitle-container">
        <div class="row">
            <p class="subtitle-text">
                @subtitle
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <div class="row content-text">
                    <div id="form-status">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success">
                                <p>@Html.Raw(@TempData["Success"])</p>
                            </div>
                        }

                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger">
                                <p>
                                    @Html.Raw(@TempData["Error"])
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="contact-information content-text">

                        @for (var i = 1; i <= lengthOfLeftside; i++)
                        {
                            @Html.Raw(contact[$"3.{i}_leftside_container"])
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="row">
                    <form id="contact-form" class="content-text" asp-controller="home" asp-action="validateemail" method="post">
                        <div class="form-group">
                            <div class="form-heading">
                                <label for="Name">@nameLabel1: <span class="symbol-required">*</span></label>
                                <input id="input-name" asp-for="Name" class="form-control" type="text" placeholder="2-50 @nameLabel2" autocomplete="off" />
                            </div>
                            <span id="error-name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="form-heading">
                                <label for="Email">E-mail: <span class="symbol-required">*</span></label>
                                <input id="input-email" asp-for="Email" class="form-control" type="text" placeholder="2-50 @emailLabel1" autocomplete="off" />
                            </div>
                            <span id="error-email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Message">@messageLabel1: <span class="symbol-required">*</span></label>
                            <textarea id="input-message" asp-for="Message" class="form-control contact-message" maxlength="5000" type="text" rows="13" placeholder="10-5000 @messageLabel2" autocomplete="off"></textarea>
                            <div class="row">
                                <div class="col">
                                    <span id="error-message" class="text-danger"></span>
                                </div>
                                <div class="col-md-auto">
                                    <span id="counter">5000/5000</span>
                                </div>
                            </div>
                        </div>

                        <div class="button-container">
                            <input id="send-button" type="submit" value="@buttonContent" class="btn btn-secondary" onclick="    validate();" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="100%" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.416175112363!2d20.981828315991773!3d52.253987263661124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb88a8ece855%3A0x848710e55395c9a!2sal.%20Jana%20Paw%C5%82a%20II%2080%2C%2000-175%20Warszawa%2C%20Poland!5e0!3m2!1sen!2sus!4v1658313597374!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://putlocker-is.org"></a><a href="https://www.embedgooglemap.net"></a>
            </div>
        </div>
    </div>
</body>
</html>
