@page
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<Cooperation> cooperation;
@inject IStringLocalizer<Alert> alert;

@{
    ViewBag.Title = cooperation["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);

    var title = @Html.Raw(cooperation["1_title_rectangle"]);
    var subtitle = @Html.Raw(cooperation["2.1_introduction"]);

    var noteText = Html.Raw(cooperation[$"4.3_rightside_container"]);

    var lengthOfLeftside = 5;
    var lengthOfRightside = 2;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/cooperation.css" asp-append-version="true" />
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">@title</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="subtitle-container">
        <div class="row">
            <p class="subtitle-text">
                @subtitle
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container content-text">

                @for (var i = 1; i <= lengthOfLeftside; i++)
                {

                    if (i == 2)
                    {
                        <strong>@Html.Raw(cooperation[$"3.{i}_leftside_container"])</strong>
                    }
                    else
                    {
                        <p>@Html.Raw(cooperation[$"3.{i}_leftside_container"])</p>
                    }

                }

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="square-container">
                    <div class="square-element">
                        <div class="centered-text-square">

                            @for (var i = 1; i <= lengthOfRightside; i++)
                            {
                                <p class="box b-@i">@Html.Raw(cooperation[$"4.{i}_rightside_container"])</p>
                            }

                        </div>
                    </div>
                </div>
                <div class="note-container">
                    <p class="note content-text ">
                        <a id="note-dark-text" asp-controller="home" asp-action="contact">
                            <strong>@noteText</strong><i id="arrow" class="dark-arrow"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
