@page
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<MainPage> mainPage;
@inject IStringLocalizer<Alert> alert;

@{
    ViewBag.Title = mainPage["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);

    var quote1 = @Html.Raw(mainPage["2.1_quote"]);
    var quote2 = @Html.Raw(mainPage["2.2_quote"]);
    var introduction1 = @Html.Raw(mainPage["3.1_introduction"]);
    var introduction2 = @Html.Raw(mainPage["3.2_introduction"]);

    var lengthOfLeftside = 4;
    var lengthOfRightside = 4;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row row-bottom-margin row-right-align ">
            <div class="col"></div>
            <div class="col-6"><p class="quoted-text">@quote1</p></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p class="quoted-text">@quote2</p>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="fixed-background"></div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="introduction-container">
        <h1>@introduction1</h1>
        <div class="row">
            <p class="introduced-text">
                @introduction2
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">

                @for (var i = 1; i <= lengthOfLeftside; i++)
                {
                    <p class="content-text">@Html.Raw(mainPage[$"4.{i}_leftside_container"])</p>
                }

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="square-container">
                    <div class="square-element">
                        <div class="centered-text-square">

                            @for (var i = 1; i <= lengthOfRightside; i++)
                            {
                                <p class="box b-@i">@Html.Raw(mainPage[$"5.{i}_rightside_container"])</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>