@page
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<Specializations> specializations;
@inject IStringLocalizer<Alert> alert;


@{
    ViewBag.Title = specializations["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);

    int lengthOfLeftside = 6;
    int lengthOfRightside = 5;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="title-rectangle">
        <h1 class="title-text">@Html.Raw(specializations["1_title_rectangle"])</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <div class="cards-container">
                    <div id="leftside-accordion">

                        @for (var i = 1; i <= lengthOfLeftside; i++)
                        {
                            <div class="card">

                                <button 
                                    class="btn btn-link btn-block card-header-text" 
                                    data-toggle="collapse" 
                                    data-target="#collapse-@i" 
                                    aria-expanded="false" 
                                    aria-controls="collapse-@i"
                                >
                                    <div class="card-header" id="heading-@i">
                                        <h5 class="mb-1 card-header-text">
                                            @Html.Raw(specializations[$"2.{i}_leftside_container_card_header"])
                                        </h5>
                                    </div>
                                </button>

                                <div 
                                    id="collapse-@i" 
                                    class="collapse" 
                                    aria-labelledby="heading-@i" 
                                    data-parent="#leftside-accordion"
                                >
                                    <div class="separation-line"></div>
                                    <div class="card-body">
                                        @Html.Raw(specializations[$"2.{i}_leftside_container_card_body"])
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="cards-container">
                    <div id="rightside-accordion">

                        @for (var i = 1; i <= lengthOfRightside; i++)
                        {

                            var nextIdForCollapseAndHeading = lengthOfLeftside + i;

                            <div class="card">
                                <button 
                                    class="btn btn-link btn-block card-header-text" 
                                    data-toggle="collapse" 
                                    data-target="#collapse-@nextIdForCollapseAndHeading" 
                                    aria-expanded="false" 
                                    aria-controls="collapse-@nextIdForCollapseAndHeading">
                                    <div class="card-header" id="heading-@nextIdForCollapseAndHeading">
                                        <h5 class="mb-1 card-header-text">
                                            @Html.Raw(specializations[$"3.{i}_rightside_container_card_header"])
                                        </h5>
                                    </div>
                                </button>

                                <div 
                                    id="collapse-@nextIdForCollapseAndHeading" 
                                    class="collapse" 
                                    aria-labelledby="heading-@nextIdForCollapseAndHeading"
                                 data-parent="#rightside-accordion">
                                    <div class="separation-line"></div>
                                    <div class="card-body">
                                        @Html.Raw(specializations[$"3.{i}_rightside_container_card_body"])
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>