@page
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<Team> team;
@inject IStringLocalizer<Alert> alert;

@{
    ViewBag.Title = team["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);

    var lengthOfLeftside = 4;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="title-rectangle">
        <h1 class="title-text">@Html.Raw(team["1_title_rectangle"])</h1>
    </div>

     <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                @Html.Raw(team["2.1_introduction"])
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">

                @for (var i = 1; i <= lengthOfLeftside; i++)
                {
                    <p class="content-text">@Html.Raw(team[$"3.{i}_leftside_container"])</p>
                }

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="row">
                    <div class="photo-container">
                        <img id="photo_of_lawyer" src="~/images/foto.jpg" alt="Photo of lawyer" />
                    </div>
                </div>
                <div class="row">
                    <div class="note-container">
                        <p class="note content-text">
                            @Html.Raw(team["4.1_rightside_container"])
                        </p>
                        <p class="note content-text ">
                            <a id="note-dark-text" asp-controller="home" asp-action="specializations">
                                @Html.Raw(team["4.2_rightside_container"])<i id="arrow" class="dark-arrow"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>