@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<_Layout> _layout;
@inject IStringLocalizer<Cookies> cookies;

@{
    var currentCulture = Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];

    var menuItemLength = 5;
    var cookieMoreLength = 4;

    var aspActions = new[] { "index", "specializations", "team", "cooperation", "contact" };

    var cookiePanelHeader = @Html.Raw(cookies["0_cookie_header"]);
    var cookiePanelBody = @Html.Raw(cookies["1_cookie_introduction"]);

    var cookieButtonHide = @Html.Raw(cookies["2.1_cookie_button"]);
    var cookieButtonMore = @Html.Raw(cookies["2.2_cookie_button"]);
    var cookieButtonClose = @Html.Raw(cookies["2.3_cookie_button"]);
}

<!DOCTYPE html>
<html lang="@Html.Raw(_layout["Selected_lang"])">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Grzegorz Bochnacki webpage">
    <meta name="keywords" content="Prawo, Law, Pomoc, Help, Grzegorz, Bochnacki, Pomoc prawna, Law help, English, Polish, German">
    <meta name="author" content="Rafał Jamróz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/tab_logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GB_Webpage.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/js/theme.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" asp-area="" asp-action="Index"><img id="logo" src="~/images/logo_pl.png" alt="Logo" /></a>

                <button id="hamburger-button" class="navbar-toggler dark-border" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <i id="menu-icon" class="dark-menu-icon"></i>
                    </span>
                </button>

                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul id="menu-bar" class="navbar-nav flex-grow-1">

                        @if (currentCulture == null || currentCulture.Contains("pl-PL"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-action="news">Aktualności</a>
                            </li>
                        }

                        @for (var i = 1; i <= menuItemLength; i++)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-action="@aspActions[i-1]">@Html.Raw(_layout[$"{i}_menu"])</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar-light mb-3">
            <ul class="navbar-nav settings-bar">
                <li>
                    <form method="post" action="~/?culture=pl-PL">
                        <button type="submit" class="btn btn-sm">
                            <img class="settings-icon" src="/lang-icons/poland-flag.png" alt="PL" />
                        </button>
                    </form>

                    <form method="post" action="~/?culture=en-US">
                        <button type="submit" class="btn btn-sm">
                            <img class="settings-icon" src="/lang-icons/uk-flag.png" alt="EN" />
                        </button>
                    </form>

                    <form method="post" action="~/?culture=de-DE">
                        <button type="submit" class="btn btn-sm">
                            <img class="settings-icon" src="/lang-icons/germany-flag.png" alt="DE" />
                        </button>
                    </form>
                </li>

                <li>
                    <button id="theme-button" class="btn btn-sm">
                        <i id="theme-icon" class="dark-theme"></i>
                    </button>
                </li>

            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="cookie-panel" class="row cookie-container content-text">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-white">@cookiePanelHeader</h5>
                <p class="card-text text-white">
                    @cookiePanelBody
                <p>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button id="hide" class="btn btn-secondary">@cookieButtonHide</button>
                            <button id="moreInfo" class="btn btn-secondary">@cookieButtonMore</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="about-cookies" class="cookie-modal-bg">
        <div id="cookie-modal-content" class="cookie-modal">
            <div class="modal-content-container">

                @for (var i = 1; i <= cookieMoreLength; i++)
                {
                    <h5 class="modal-title">@Html.Raw(cookies[$"3.{i}_cookie_content_header"])</h5>
                    <p class="modalInfo">@Html.Raw(cookies[$"3.{i}_cookie_content_body"])</p>
                }

                <div class="modal-footer">
                    <button type="button" id="close-about-cookie" class="btn btn-secondary">@cookieButtonClose</button>
                </div>
            </div>

        </div>
    </div>

    <footer id="footer" class="border-top content-text">
        <div class="container">
            &copy; 2023 - Grzegorz Bochnacki – komplementariusz Kancelaria Prawna Bochnacki i Wspólnicy Sp.k.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
