@model ErrorViewModel
@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<Error> error;
@{

    var notFoundTitle = @Html.Raw(error["0_title_not_found"]);
    var generalTitle = @Html.Raw(error["0_title_general_error"]);

    var errorNotFoundReason = @Html.Raw(error["1_error_reason_not_found"]);
    var errorGeneralReason = @Html.Raw(error["1_error_reason_general"]);

    var errorTip = @Html.Raw(error["2_error_tip"]);
    var errorSuggestion = @Html.Raw(error["3_error_debug"]);

    ViewBag.Title = @Html.Raw($"{error["tab_title"]} ({Model.StatusCode})");

}
<html>
<head>
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
</head>
<body>
    @if (Model.StatusCode == 404)
    {
        <h1 class="text-danger text-center">@notFoundTitle</h1>
        <h2 class="text-danger">@errorNotFoundReason</h2>
    }
    else
    {
        <h1 class="text-danger text-center">@generalTitle @Model.StatusCode</h1>
        <h2 class="text-danger">@errorGeneralReason</h2>
    }
    <h4>@errorTip</h4>
    <h4>@errorSuggestion</h4>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    @if (Model.ShowActivityId)
    {
        <p>
            <strong>Actvity ID:</strong> <code>@Model.ActivtyId</code>
        </p>
    }

</body>
</html>
